<!DOCTYPE html>
{% load static %}
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <meta http-equiv="X-UA-Compatible" content="ie=edge" />
        <title>Twitterclone</title>
    </head>
    <body>
        <h1>Twitterclone</h1>
        {% if user.is_authenticated %}
        <a href="/">Home</a>
        <a href="{% url 'addtweet' %}">New Tweet</a>
        <a href="{% url 'user_detail' request.user.id %}">My Profile</a>
        <a href="{% url 'notifications' %}">Notifications: {{notification_count}}</a>
        <a href="{% url 'logout' %}">Logout</a>

        <hr />
        {% block userprofile %}
            {% include 'twitterclone/user_detail.html' %}
        {% endblock userprofile %}

        {% block tweetlist %}
            {% include 'twitterclone/tweet_list.html' %}
        {% endblock tweetlist %}

        {% block userlist %}
            {% include 'twitterclone/user_list.html' %}
        {% endblock userlist %}

        {% endif %}



    </body>
</html>
