<!DOCTYPE html>
{% load static %}
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <meta http-equiv="X-UA-Compatible" content="ie=edge" />
        <title>Twitterclone</title>
    </head>
    <body>
        <h1>Twitterclone</h1>
        <a href="">Home</a>
        <a href="">New Tweet</a>
        <a href="">My Profile</a>
        <a href="">Notifications</a>
        <hr />

        {% block content %}

        {% endblock content %}

    </body>
</html>
